{% extends 'core/base.html' %}

{% load static %}

{% block title %}Contacto{% endblock %}
{% include 'formulario/includes/pages_menu.html' %}
{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <div class="about-heading-content">
      <div class="row justify-content-md-center">
        <form action="" method="POST">{% csrf_token %}
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Formulario de </span>
                <span class="section-heading-lower">ordenes</span>
              </h2>
              <!-- Formulario de contacto -->
          
              <table>
                {{form.as_table}}
              </table>

              <!-- Fin formulario de contacto -->
            </div>
          </div>
          <div class="col-md-auto">                          
            {{ detalle_compra_form_set.management_form }}
            <table class="table table-bordered">
              <thead>
                <tr>
                  <td>Item</td>
                  <td>Cantidad</td>
                  <td>Fecha desde</td>
                  <td>Fecha hasta</td>
                  <td>Precio bruto</td>
                  <td>Notas</td>
                </tr>                        
              </thead>
                <tbody>              
                  {% for form2 in detalle_compra_form_set %}                     
                    <tr>
                      <td> {{form2.articulo}} </td>
                      <td> {{form2.cantidad}} </td>
                      <td>                       
                        <div class="input-group date" id="datetimepicker{{forloop.counter}}" data-target-input="nearest" style='width: 250px;'>
                          {{form2.desde}}                                    
                          <div class="input-group-append" data-target="#datetimepicker{{forloop.counter}}" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#datetimepicker{{forloop.counter}}').datetimepicker({
                                    locale: 'es',
                                    format: 'DD/MM/YYYY',
                                    autoclose: true
                                    
                                });
                            });
                        </script>
                      </td>
                      <td>                       
                        <div class="input-group date" id="datetimepicker1{{forloop.counter}}" data-target-input="nearest" style='width: 250px;'>
                          {{form2.hasta}}                                    
                          <div class="input-group-append" data-target="#datetimepicker1{{forloop.counter}}" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#datetimepicker1{{forloop.counter}}').datetimepicker({

                                    locale: 'es',
                                    format: 'DD/MM/YYYY',
                                    autoclose: true
                                    
                                });
                            });
                        </script>
                      </td>
                      <td> {{form2.valor_bruto}} </td>
                      <td> {{form2.detalle}} </td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>                    
          </div>                                  
          <div class="btn-group">
            <input type="submit" class="btn btn-primary btn-block py-2" value="Guardar" name="Guardar">
            <input type="submit" class="btn btn-success" value="Enviar" name="Enviar">
          </div>
        </form>
      </div>     
    </div>
  </div>
</section>
{% endblock %}
